{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="header">
    <h1>Your transfer history</h1>
</div>

<div class="section">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date stamp</th>
            </tr>
        </thead>
        <tbody>
            {% for result in history_list %}
            <tr>
                <td>{{ result["symbol"] }}</td>
                <td>{{ result["shares"] }}</td>
                <td>{{ result["price"] }}</td>
                <td>{{ result["time"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
